.navbar {
    background-color: #2b527be1;
    color: #fff;
    overflow: hidden;
    background-size: 50px;
    text-align: right;
    margin-top: -60px;
    align-items: center;
    justify-content: center;
  }
  .navbar h1{

        text-align: left;
        padding-left: 15px;
        font-family: 'Chokokutai', cursive;
        font-size: 35px;
        color: rgb(97, 5, 86);
        margin-top: 70px;
        margin-bottom: -30px;
        margin-left: 30px;
        

  }
  marquee{
    background-color: #24364e;
    color: #ec96d2;
  }
  .navbar a {
    font-size: large;
    display: inline-block;
    color: #460847;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 40px;
    font-family: 'Lugrasimo', cursive;

   
  }
  
   .dropdown {
    float:right;
    overflow: hidden;
   
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-style: oblique;
    text-shadow: 3px 2px 2px rgb(127, 16, 186);
  }
  
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: hwb(310 41% 18% / 0.288);
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d3e2f6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(245, 59, 233, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #b74af795;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #333;
  }
  .logo{
    font-weight: bold;
    font-size: 20px;
    color: #5476a3;
    text-shadow: 3px 2px 2px #e974c6;
    text-decoration: solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-indent: 20%;
   
  }
  nav a.logo{
    float:right;
  }
  .image{
    float: right;
  }
  .main{
    background-color: #dfe7bc;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -3px;
  }
  .main a{
    text-decoration: none;
    font-size: 20px;
    color: #460847;
    font-family: 'Lugrasimo', cursive;
    
  }
  .main a:hover{
    color: #c332e0;
  }